@use "./src/default.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
