.conversation {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .messages {
        width: 100%;
        flex: 1;
        overflow: auto;

        .human {
            text-align: right;
        }
    }

    .input {
        margin: 5px;
    }
}
